*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(196, 193, 193);
}
nav{
    display: none;
}
#img_principal{
    display: none;
}
#index_600{
    display: none;
}
img{
    width: 200px;
    height: 200px;
    margin: 10px;
}
header{
display: block;
}
#menu{
    display: inline;
    cursor: pointer;
}
.mostrarMenu{
    display: flex;
    flex-direction: column;
}
a::first-letter{
    text-transform: capitalize;
}
a{
    padding: 50px;
}
.card-form{
    display: none;
}
.card-icons{
    display: none;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    height: 10em;
    background-color: aqua;
}
.card{
    display: block;
    background-color: #4CAF50;
    color: white;
    border: solid 1px green;
    text-align: center;
    text-decoration: none;
}
.card p:hover{
    background-color: red;
}
.mostrarFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mostarRedes{
    display: flex;
    justify-content:space-evenly;
}
i{
    cursor: pointer;
}
footer{
    position: relative;
    bottom: 0;
    text-align: center;
    background: rgba(30, 60, 40, 0.4);
    height: 50px;
    width: 100%;

}h1,#subtitle{
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.product{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.card-product{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#div_icon{
    display: none;
}
#information{
    font-weight: bolder;
    font-size: large;
    text-transform: uppercase;
}
@media only screen and (min-width:600px){
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body{
        background-color: rgb(196, 193, 193);
    }
    nav{
        display: flex;
    }
    a>h1{
        display: none;
    }
    #img_principal{
        display: flex;
    }
    #index_600{
        display: none;
    }
    img{
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    header{
    display: block;
    }
    a::first-letter{
        text-transform: capitalize;
    }
    a{
        padding: 50px;
    }
    .card-form{
        display: none;
    }
    .card-icons{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
        height: 10em;
        background-color: aqua;
    }
    .card{
        display: block;
        background-color: #4CAF50;
        color: white;
        border: solid 1px green;
        text-align: center;
        text-decoration: none;
    }
    .card p:hover{
        background-color: red;
    }
    .mostrarFormulario{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mostarRedes{
        display: flex;
        justify-content:space-evenly;
    }
    #menu{
        display: none;
    }
    footer{
        position: relative;
        bottom: 0;
        text-align: center;
        background: rgba(30, 60, 40, 0.4);
        height: 50px;
        width: 100%;
    
    }h1,#subtitle{
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    .product{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }
    .card-product{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #div_icon{
        display: none;
    }
    #information{
        font-weight: bolder;
        font-size: large;
        text-transform: uppercase;
    }
}
@media only screen and (min-width:1200px){
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body{
        background-color:rgb(196, 193, 193);
    }
    a>h1{
        display: block;
    }
    legend{
        text-align: center;
    }
    #index_600{
        display: block;
    }
    #img_principal{
        display: block;
    }
    img{
        width: 200px;
        height: 200px;
        margin: 10px;
    }
    nav{
        display: flex;
        background-color: #5C4FE2;
    }
    #menu{
        display: none;
    }
    a::first-letter{
        text-transform: capitalize;
    }
    #home{
        display: none;
    }
    a{
        padding: 10px;
    }
    header{
        display: flex;  
        align-items: center;
        justify-content: space-between;
    }
    .card-form{
        display: none;
    }
    .card-icons{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
        height: 10em;
        background-color: aqua;
    }
    .card{
        display: block;
        background-color: #4CAF50;
        align-items: center;
        cursor: pointer;
        color: white;
        border: solid 1px green;
        padding: 15px 32px;
        text-decoration: none;
    }
    .card p:hover{
        background-color: red;
    }
    #consulta{
        display: flex;
        height: 200px;
    }
    fieldset{
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
    }
    .mostrarFormulario{
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        padding: 15px;
    }
    .mostarRedes{
        display: flex;
        justify-content:space-evenly;
    }
    i{
        cursor: pointer;
    }
    footer{
        position: relative;
        bottom: 0;
        text-align: center;
        background: rgba(30, 60, 40, 0.4);
        height: 50px;
        width: 100%;
    }
    h1,#subtitle{
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    .product{
    display: flex;
    flex-direction: column;
    align-items:center;
        
    }
    #title{
        display: inline;
        padding-left: 5em;
    }
    .card-product{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #information{
        font-weight: bolder;
        font-size: large;
        text-transform: uppercase;
    }
    .rotate_180deg{
        transform: rotate(180deg);
    }
    #div_icon{
        display: flex;
        justify-content: center;
    }

}